.Sidebar{
    min-height: 100vh;
    /* max-width: 200px; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}

.Sidebar img{
width: 20px;
align-items: center;
margin-right: 4px;
/* height: 20px; */
}

.Sidebar .menu{
    display: block;
    margin-left: 15px;
    cursor: pointer;
}


.Sidebar .new-chat{
    display: inline-flex;
    margin-top:50px;
    align-items: center;
    gap:10px;
    padding: 10px 15px;
    background: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: gray;
    cursor :pointer

}

.Sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.55s ease-in-out;
    
}

.Sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.recent-entry{
    display: inline-flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    /* justify-content: space-between; */
    padding-right: 40px ;
    border-radius: 30px;
    color: #282828;
    cursor: pointer;
}

.Sidebar .recent :hover{
   background-color: #e2e6eb;
   /* opacity: 0.8; */
}

.Sidebar .bottom{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.Sidebar .bottom-item{
    display: inline-flex;
    padding-right: 10px;
    cursor: pointer;
    /* border-radius: 5px; */
}
.Sidebar .bottom-item:Hover{
    background-color: #e2e6eb;
}
.Sidebar .dots:hover{
    background-color: aqua;

}
@media (max-width: 768px) {
    .Sidebar{
        display: none;
    }
}

/* .dots{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e2e6eb;
    cursor: pointer;
} */

