@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit, sans-serif;
  /* background-color: black; */
}
#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  animation: fadeIn 0.55s ease-in-out;
}

/* Add media queries for responsive layout */
@media screen and (max-width: 768px) {
  #root {
    flex-direction: column;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Add to your index.css */
@media (hover: none) {
  * {
    cursor: touch;
    -webkit-tap-highlight-color: transparent;
  }
}


